In [1]:
import pandas as pd
import numpy as np
from sklearn.svm import SVC
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split

In [2]:
train_df=pd.read_csv(filepath_or_buffer='train.csv',index_col=['ticket_id'],encoding = 'ISO-8859-1',low_memory=False )
test_df=pd.read_csv(filepath_or_buffer='test.csv',index_col=['ticket_id'],encoding = 'ISO-8859-1',low_memory=False)

In [3]:
train_df.head()

,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,city,state,...,clean_up_cost,judgment_amount,payment_amount,balance_due,payment_date,payment_status,collection_status,grafitti_status,compliance_detail,compliance
ticket_id,,,,,,,,,,,,,,,,,,,,,
22056,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","INVESTMENT INC., MIDWEST MORTGAGE",2900.0,TYLER,NaN,3.0,S. WICKER,CHICAGO,IL,...,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
27586,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Michigan, Covenant House",4311.0,CENTRAL,NaN,2959.0,Martin Luther King,Detroit,MI,...,0.0,855.0,780.0,75.0,2005-06-02 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
22062,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","SANDERS, DERRON",1449.0,LONGFELLOW,NaN,23658.0,P.O. BOX,DETROIT,MI,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
22084,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","MOROSI, MIKE",1441.0,LONGFELLOW,NaN,5.0,ST. CLAIR,DETROIT,MI,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
22093,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","NATHANIEL, NEAL",2449.0,CHURCHILL,NaN,7449.0,CHURCHILL,DETROIT,MI,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN

In [27]:
train_df=train_df[train_df['compliance'].isnull()==False]

In [29]:
columns=['agency_name','country','fine_amount','discount_amount','judgment_amount','compliance']

In [30]:
train_df=train_df[columns]

In [31]:
train_df.head()

,agency_name,country,fine_amount,discount_amount,judgment_amount,compliance
ticket_id,,,,,,
22056,"Buildings, Safety Engineering & Env Department",USA,250.0,0.0,305.0,0.0
27586,"Buildings, Safety Engineering & Env Department",USA,750.0,0.0,855.0,1.0
22046,"Buildings, Safety Engineering & Env Department",USA,250.0,0.0,305.0,0.0
18738,"Buildings, Safety Engineering & Env Department",USA,750.0,0.0,855.0,0.0
18735,"Buildings, Safety Engineering & Env Department",USA,100.0,0.0,140.0,0.0

In [32]:
agency_encoder=LabelEncoder().fit(train_df['agency_name'])
country_encoder=LabelEncoder().fit(train_df['country'])

In [33]:
train_df['agency_name']=agency_encoder.transform(train_df['agency_name'])
train_df['country']=country_encoder.transform(train_df['country'])

In [36]:
X=train_df.iloc[:,:-1]
y=train_df.iloc[:,-1]

In [37]:
X.head()

           agency_name  country  fine_amount  discount_amount  judgment_amount
ticket_id
22056                0        4        250.0              0.0            305.0
27586                0        4        750.0              0.0            855.0
22046                0        4        250.0              0.0            305.0
18738                0        4        750.0              0.0            855.0
18735                0        4        100.0              0.0            140.0

In [39]:
y.head()

ticket_id
22056    0.0
27586    1.0
22046    0.0
18738    0.0
18735    0.0
Name: compliance, dtype: float64

In [40]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=0)

In [41]:
X_train.shape

(119910, 5)

In [42]:
y_train.shape

(119910,)

In [55]:
clf_gb=GradientBoostingClassifier(max_depth=3,learning_rate=0.3).fit(X_train,y_train)

In [59]:
clf=RandomForestClassifier(max_depth=3,n_estimators=10).fit(X_train,y_train)

In [60]:
clf.score(X_test,y_test)

0.93457593194896171

In [56]:
clf_gb.score(X_test,y_test)

0.93465098824118087

In [63]:
test_df=test_df[columns[:-1]]
test_df['agency_name']=agency_encoder.transform(test_df['agency_name'])
test_df['country']=country_encoder.transform(test_df['country'])

In [66]:
test_df.head()

           agency_name  country  fine_amount  discount_amount  judgment_amount
ticket_id
284932               1        4        200.0              0.0            250.0
285362               1        4       1000.0              0.0           1130.0
285361               1        4        100.0              0.0            140.0
285338               1        4        200.0              0.0            250.0
285346               1        4        100.0              0.0            140.0

In [71]:
score_rf=pd.Series(clf.predict_proba(test_df)[:,1],index=test_df.index,name='compliance',dtype=np.float32)

In [72]:
score_rf

ticket_id
284932    0.096015
285362    0.045857
285361    0.096015
285338    0.096015
285346    0.096015
285345    0.096015
285347    0.096015
285342    0.096015
285530    0.045857
284989    0.047575
285344    0.096015
285343    0.045857
285340    0.045857
285341    0.096015
285349    0.096015
285348    0.096015
284991    0.047575
285532    0.047575
285406    0.047575
285001    0.042581
285006    0.040863
285405    0.045857
285337    0.047575
285496    0.096015
285497    0.096015
285378    0.045857
285589    0.047575
285585    0.096015
285501    0.096015
285581    0.045857
            ...
376367    0.042581
376366    0.042581
376362    0.042581
376363    0.107397
376365    0.042581
376364    0.042581
376228    0.042581
376265    0.042581
376286    0.170820
376320    0.042581
376314    0.042581
376327    0.170820
376385    0.170820
376435    0.042581
376370    0.170820
376434    0.096015
376459    0.096015
376478    0.041693
376473    0.042581
376484    0.042581
376482    0.042581
376480    0.042581
376479    0.042581
376481    0.042581
376483    0.042581
376496    0.040863
376497    0.040863
376499    0.096015
376500    0.096015
369851    0.096015
Name: compliance, Length: 61001, dtype: float32

In [73]:
score_gb=pd.Series(clf_gb.predict_proba(test_df)[:,1],index=test_df.index,name='compliance',dtype=np.float32)

In [74]:
score_gb

ticket_id
284932    0.063879
285362    0.024769
285361    0.073883
285338    0.063879
285346    0.073883
285345    0.063879
285347    0.057186
285342    0.379956
285530    0.024769
284989    0.041548
285344    0.057186
285343    0.024769
285340    0.024769
285341    0.057186
285349    0.073883
285348    0.063879
284991    0.041548
285532    0.041548
285406    0.041548
285001    0.014717
285006    0.008674
285405    0.024769
285337    0.041548
285496    0.057186
285497    0.063879
285378    0.024769
285589    0.041548
285585    0.063879
285501    0.073883
285581    0.024769
            ...
376367    0.038362
376366    0.035961
376362    0.035961
376363    0.057743
376365    0.038362
376364    0.035961
376228    0.035961
376265    0.035961
376286    0.306398
376320    0.035961
376314    0.035961
376327    0.306398
376385    0.306398
376435    0.544248
376370    0.306398
376434    0.077084
376459    0.065611
376478    0.002448
376473    0.035961
376484    0.018209
376482    0.014717
376480    0.014717
376479    0.014717
376481    0.014717
376483    0.035961
376496    0.008674
376497    0.008674
376499    0.065611
376500    0.065611
369851    0.269508
Name: compliance, Length: 61001, dtype: float32